<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuofengyuan.mlszm.vote.mapper.CommentMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zhuofengyuan.mlszm.vote.entity.Comment">
                <result column="id" property="id" />
                    <result column="content" property="content" />
                    <result column="images" property="images" />
                    <result column="create_user" property="createUser" />
                    <result column="create_time" property="createTime" />
                    <result column="player_id" property="playerId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            content, images, create_user, create_time, player_id
        </sql>

</mapper>