<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuofengyuan.mlszm.vote.mapper.ProductCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ProductCategory">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent" property="parent"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                p.id, p.parent, p.name, p.status
        </sql>

    <sql id="Children_Column_List">
                c.id, c.parent, c.name, c.status
        </sql>

    <select id="selectTree" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="Children_Column_List"/>
        FROM product_category p
        JOIN product_category c ON c.id = p.parent
    </select>
</mapper>